    @model MVC.Models.Product;

    <h1 class="title-create">Cập nhật sản phẩm</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"> Tên sản phẩm</label>
                    <input asp-for="Name" class="form-control" value="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mô tả</label>
                    <input asp-for="Description" class="form-control" value="@Model.Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Giá tiền</label>
                    <input asp-for="Price" class="form-control" value="@Model.Price"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <select asp-for="CategoryId" >
                        @foreach (var c in ViewBag.Category)
                        {
                         <option value="@c.Id"selected="@(c.Id == Model.CategoryId)">@c.Name</option>
                        }
                    </select>
                </div>

            <div class="form-group my-3">
                <input type="radio" name="Status" id="true" value="true" @(Model.Status ? "checked" : "")>
                <label for="true">Hoạt động</label><br>
                <input type="radio" name="Status" id="false" value="false" @(!Model.Status ? "checked" : "")>
                <label for="false">Dừng hoạt động</label>
            </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
